body {
    font-family: Times New Roman;
}
.clearfix{
    clear: both;
}
.nav-logo .logo > img {
    width: auto;
    max-height: 50px;
}
.nav-btns {
    display: inline-flex;
}
h1.titleSite {
    display: none;
}
.footer-logo img{
    max-height: 60px;
}
.post.post-thumb .post-img:after {
    background-color: rgba(0,0,0,.55);
    opacity: 0.5;
}
.post.post-thumb .post-title {
    text-shadow: 2px 2px 5px #000;
}
.post.post-thumb .post-title {
    text-transform: capitalize;
    min-height: 44px;
}
#nav-fixed .nav-btns .aside-btn{
    display: none;
}
#nav-fixed .search-form .search-input{
    padding: 30px;
}
.footer-widget .footer-title, .footer-logo {
    margin-bottom: 20px;
}
label.error {
    color: red;
    text-transform: capitalize;
}
textarea {
    resize: none;
}
.post .post-img > img {
    height: 225px;
    max-height: 225px;
}
.post.post-thumb .post-img > img {
    height: 347px;
    max-height: 347px;
}
.aside-widget .post.post-thumb .post-img > img {
    height: 216px;
    max-height: 216px;
}
.post.post-row .post-img > img {
    height: 188px;
    max-height: 188px;
}

.post.post-widget .post-img img {
    max-height: 90px;
}

.post-author .media-body {
    height: 150px;
}

.page-header .post-meta .post-date, .post.post-thumb .post-meta .post-date {
    background-color: black;
    font-size: 13px;
    text-transform: uppercase;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 2px;
    margin-right: 15px;
    color: #FFF;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.aside-widget .post.post-thumb .post-title {
    font-size: 18px;
}

.aside-widget .post.post-thumb .post-meta .post-date, .aside-widget .post-meta .post-category {
    font-size: 11px;
}

.not-found-info{
    text-align: center;
    color: lightgrey;
    line-height: 5.5;
}

.center{
    text-align: center;
}
.inline-block{
    display: inline-block;
}
.pointer{
    cursor: pointer;
}
.no-underline-link{
    text-decoration: none !important;
}
.link-color{
    cursor: pointer;
    color: #337AB8;
}
.padl05x{
    padding-left: 5px;
}
.mrgt15x{
    margin-top: 15px;
}
.mrgb15x{
    margin-bottom: 15px;
}

.section .section-title label{
    text-transform: capitalize;
    font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #212631;
    margin: 0px 0px 15px;
    margin-bottom: 0px;
}

.marginTopBottom15x{
    margin: 15px 0px;
}
.fb_iframe_widget_fluid span, iframe.fb_ltr, iframe.fb_iframe_widget_lift { width: 100% !important; }

.page-header .page-header-breadcrumb li, .page-header .page-header-breadcrumb li a {
    font-size: 16px;
}

.emulator-menu:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .dropdown ul{
     padding: 0px;
 }

 .dropdown ul li{
    border-bottom: 1px solid #eee;
    min-width: 275px !important;
 }

 .dropdown-menu a{
     padding: 20px 20px !important;
 }

 .dropdown-menu a:after {
    background-color: #ffffff !important;
 }

 .touch-controls button {
    background-color: buttonface !important;
}

.align-center-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35%;
    transform: translate(-50%, -50%) !important;
}

blockquote:before {
    content: "\201c";
    float: left;
    margin-top: 10px;
    margin-left: -40px;
    font-family: Georgia, Merriweather, serif;
    font-style: normal;
    font-size: 70px;
    line-height: 0;
    color: #ed1d3b;
}
blockquote{
    border: 5px solid #eee;
    background-color: #eee;
}
blockquote p{
    margin-bottom: 5px;
}
.main-post img, .main-post iframe {
    width: 100% !important;
}

.ads-place{
    margin-bottom: 10px;
}

.ads-place iframe, .ads-place img{
    width: 100%;
    height: 90px;
}

.ads-place .imgBanner{
    width: 60%;
    height: 140px;
}

.titleRelate{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.transparent-button{
    padding: 8px 30px;
    border: 1px solid #212631;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    color: #212631;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    border-radius: 0;
    margin-right: 10px;
}

.redColor{
    color: red;
}

.block{
    display: block;
}

.titlePolicy{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

li.initial{
    list-style: initial;
}

#popupAccount .modal-dialog{
    min-width: 325px;
}

.alert.alert-danger{
    z-index: 10000 !important;
}

/* Dành cho điện thoại */
@media all and (min-width: 360px) {
    .touch-dpad {
        margin-right: 12px;
    }
    #touch-left{
        margin-right: 30px;
    }
}
@media all and (min-width: 320px) and (max-width: 400px) {
    .nav-logo{
        width: 50%;
    }
    #nav-fixed .nav-btns .aside-btn{
        display: inline-block;
    }
    .post.post-row .post-body p {
        display: block;
    }
    #footer .container {
        padding-top: 60px;
    }
    .post .post-img > img {
        height: 183px;
        max-height: none;
    }
    .post.post-thumb .post-img > img {
        height: 230px;
        max-height: none;
    }
    .post.post-row .post-img > img {
        height: 183px;
        max-height: none;
    }
    .post-comments .media .media-left .media-object {
        width: 50px;
    }
    .post-author .media .media-left .media-object {
        width: 80px;
    }
    #post-header .background-img{
        background-size: 100% 100%;
    }
    #post-header.page-header {
        padding-top: 60px;
    }
    .not-found-info{
        line-height: 1.5;
    }
    .align-center-modal{
        width: 80%;
    }
    .ads-place .imgBanner{
        width: 80%;
        height: 120px;
    }
}
@media all and (min-width: 401px) and (max-width: 500px) {
    .nav-logo{
        width: 50%;
    }
    #nav-fixed .nav-btns .aside-btn{
        display: inline-block;
    }
    .post.post-row .post-body p {
        display: block;
    }
    #footer .container {
        padding-top: 60px;
    }
    .post .post-img > img {
        height: 233px;
        max-height: none;
    }
    .post.post-thumb .post-img > img {
        height: 280px;
        max-height: none;
    }
    .post.post-row .post-img > img {
        height: 233px;
        max-height: none;
    }
    .post-comments .media .media-left .media-object {
        width: 50px;
    }
    .post-author .media .media-left .media-object {
        width: 80px;
    }
    #post-header .background-img{
        background-size: 100% 100%;
    }
    #post-header.page-header {
        padding-top: 100px;
    }
    .not-found-info{
        line-height: 1.5;
    }
    .align-center-modal{
        width: 80%;
    }
    .ads-place .imgBanner{
        width: 80%;
        height: 120px;
    }
    /* .touch-dpad {
        margin-right: 15%;
    } */
}
@media all and (min-width: 501px) and (max-width: 991px) {
    .nav-btns {
        display: inline-flex;
    }
    #nav-fixed .nav-btns .aside-btn{
        display: inline-block;
    }
    .post .post-img > img {
        height: 398px;
        max-height: none;
    }
    .post.post-thumb .post-img > img {
        height: 398px;
        max-height: none;
    }
    .post.post-row .post-img > img {
        height: 398px;
        max-height: none;
    }
    .post-comments .media .media-left .media-object {
        width: 50px;
    }
    .post-author .media .media-left .media-object {
        width: 80px;
    }
    .align-center-modal{
        width: 80%;
    }
    .touch-btn{
        margin: 0px 15%;
    }
    .ads-place .imgBanner{
        width: 80%;
        height: 120px;
    }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .post .post-img > img {
        height: 183px;
        max-height: 183px;
    }
    .post.post-thumb .post-img > img {
        height: 284px;
        max-height: 284px;
    }
    .post.post-row .post-img > img {
        height: 154px;
        max-height: 154px;
    }
}